
<h1>Sum</h1><br>
<%= @num1 %> + <%= @num2 %> = <%= @resultsum %>
<h1>Remainder</h1><br>
<%= @num1 %> - <%= @num2 %> = <%= @resultsubtract %>
<h1>Product</h1><br>
<%= @num1 %> * <%= @num2 %> = <%= @resultmultiply %>
<h1>Quotient</h1><br>
<%= @num1 %> / <%= @num2 %> = <%= @resultdivide %>

